@charset "utf-8";
/* CSS Document */

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 3rem;
	margin-top: 4rem;
	text-align: center;
}

.container h1 {
	color: #e84118;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	margin-top: 11rem;
	text-transform: uppercase;
}

.container h2 {
	text-transform: uppercase;
	margin-bottom: 3rem;
	color: #323131;
	font-size: 1.5rem;
	font-weight: 500;
}

.container .button {
	text-align: center;
}

.container .button a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	font-size: 24px;
	border: 2px solid #000;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
	text-transform: uppercase;
}

.container .button a:hover {
	color: #e84118;
}

.image {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.image img {
	width: 350px;
	height: 350px;
	object-fit: contain;
	object-position: center;
	padding: 20px;
	background-color: #f5f5f5;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.04);
	transition: all ease 0.3s;
}

.image:hover img {
	transform: scale(1.5);
	transition: all ease 10.2s;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.container h3 {
	color: #e84118;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 3rem;
	margin-top: 0.5rem;
	text-transform: uppercase;
}

.container p {
	font-size: 1.5rem;
	color: #212020;
	line-height: 2.3rem;
	margin-bottom: 5rem;
}

#Categories {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px 50px 0px;
	flex-direction: column;
}

#Categories h2 {
	color: #e84118;
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 3rem;
	margin-top: 0.5rem;
	text-transform: uppercase;
}

.category-container {
	display: flex;
	margin: auto;
	width: 1200px;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background-color: #f5f5f544;
}

.category-box {
	position: relative;
	padding: 20px;
}

.category-box img {
	width: 90px;
	height: 90px;
	object-fit: contain;
	object-position: center;
	padding: 20px;
	background-color: #f5f5f5;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.04);
	transition: all ease 0.3s;
	opacity: 80%;
}

.category-box span {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: #2c2b2b;
	text-transform: uppercase;
}

.category-box:hover img {
	transform: scale(1.02);
	transition: all ease 0.2s;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

.category-box p {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	color: #363535;
	text-transform: capitalize;
}
