@charset "utf-8";
/* CSS Document */

:root {
	--primary-color: #ffffff;
	--secondary-color: #212121;
}

.dark-theme {
	--primary-color: #212121;
	--secondary-color: #ffffff;
}

#dmode {
	width: 17px;
	cursor: pointer;
	color: var(--secondary-color);
	margin: 0px 10px;
}

#main {
	background-color: var(--primary-color);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 50px auto;
}

.main-img {
	height: 400px;
	width: 400px;
}

.main-img img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: contain;
}

.main-text {
	max-width: 500px;
}

.main-text span {
	text-transform: uppercase;
	font-weight: 600;
	color: #e74444;
	letter-spacing: 2px;
}

.main-text h1 {
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 45px;
	color: var(--secondary-color);
}

.main-text p {
	color: #747474;
	margin: 20px 0px;
}

.main-text a {
	width: 180px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.14);
	color: #f8f8f8;
	background-color: #e74444;
}

.main-text a:hover {
	background-color: #cf2728;
	color: #ffffff;
	transition: all ease 0.3s;
	border: none;
}

#grades {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px 50px 0px;
	flex-direction: column;
}

#grades h2 {
	font-weight: 500;
	padding: 2px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 20px 0px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	color: var(--secondary-color);
}

.grade-container {
	display: flex;
	margin: auto;
	width: 1200px;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background-color: #d6d6d60e;
}

.grade-box {
	position: relative;
	padding: 20px;
}

.grade-box img {
	width: 150px;
	height: 150px;
	object-fit: contain;
	object-position: center;
	padding: 20px;
	background-color: var(--primary-color);
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.04);
	transition: all ease 0.3s;
}

.grade-box span {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	color: var(--secondary-color);
	text-transform: uppercase;
}

.grade-box:hover img {
	transform: scale(1.5);
	transition: all ease 0.2s;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

#feature-product {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 50px 0px;
}

#feature-product h2,
#news h3 {
	color: var(--secondary-color);
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
}

#feature-product h2::after,
#news h3::after {
	border-bottom: 1px solid var(--secondary-color);
	width: 80%;
	height: 1px;
	background-color: var(--secondary-color);
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
}

.feature-product-container {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 60px auto;
	width: 1200px;
	padding: 20px 0px;
	background-color: #d6d6d60e;
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.feature-product-box {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.product-feature-img {
	width: 250px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	border: 1px solid rgba(0, 0, 0, 0.04);
}

.product-feature-img img {
	width: 90%;
	height: 90%;
	object-fit: contain;
	object-position: center;
}

.product-feature-text-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.product-feature-text {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.product-feature-text strong {
	color: var(--secondary-color);
	font-weight: 600;
	line-height: 20px;
}

.product-feature-text span {
	color: #747474;
}

.cart-like {
	display: flex;
}

.cart-like button {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid #747474;
	margin: 0px 3px;
	font-size: 0.9rem;
	background: #fff;
	cursor: pointer;
}

.cart-like button i {
	color: var(--secondary-color);
}

.cart-like button:hover {
	background-color: #cf2728;
	transition: all ease 0.3s;
}

.cart-like button:hover i {
	color: var(--primary-color);
	transition: all ease 0.3s;
}

#banner {
	border: 1px solid rgba(235, 235, 235);
	max-width: 1200px;
	display: grid;
	grid-template-columns: 0.7fr 1.4fr;
	margin: auto;
	grid-gap: 40px;
	height: 400px;
	background-color: #d6d6d60e;
	margin-bottom: 50px;
}

.banner-video {
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.banner-video iframe {
	width: 150%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	opacity: 90%;
}

.banner-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 400px;
	width: 450px;
	padding: 20px 40px;
}

.banner-text strong {
	font-size: 1.7rem;
	font-weight: 700;
	color: var(--secondary-color);
}

.banner-text span {
	color: var(--secondary-color);
	font-weight: 500;
	font-size: 1.2rem;
}

.banner-text p {
	color: #636363;
}

.banner-text a {
	color: var(--primary-color);
	background-color: #e74444;
	width: 140px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.14);
}

.banner-text a:hover {
	background-color: #cf2728;
	transition: all ease 0.3s;
}

#news {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 60px 0px;
}

.news-box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.news-box {
	width: 350px;
	height: 350px;
	background-color: #d6d6d60e;
	position: relative;
	overflow: hidden;
	margin: 20px;
}

.news-img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.news-img img {
	width: 80%;
	height: 80%;
	object-fit: contain;
	object-position: center;
}

.news-text {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 4px solid #d6d6d6;
	background-color: rgba(0, 0, 0, 0.18);
	padding: 20px;
	text-align: center;
	display: none;
}

.news-box:hover .news-text {
	display: flex;
	animation: fade 0.3s;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.news-text strong {
	color: var(--primary-color);
	font-size: 1.2rem;
}

.news-text span {
	color: var(--primary-color);
	border: 1px solid #636363;
	font-weight: 500;
	padding: 0px 10px;
	background-color: var(--secondary-color);
}

.news-text a {
	color: #fdfcfc;
	margin-top: 10px;
	background-color: #cf2728;
	padding: 2px 10px;
}

.news-text a:hover {
	background-color: #e74444;
	transition: all ease 0.3s;
}

.news-lable {
	position: absolute;
	right: 20px;
	top: 20px;
	color: var(--primary-color);
	background-color: #e74444;
	padding: 3px 20px;
	z-index: 2;
}

@media (max-width: 1200px) {
	.category-container {
		width: 1000px;
		flex-wrap: wrap;
	}

	.category-box img {
		width: 150px;
		height: 150px;
	}

	#feature-product h1 {
		margin-bottom: 40px;
	}

	.feature-product-container {
		width: 1000px;
		margin: auto;
	}

	.feature-product-box {
		margin: 20px;
		width: 200px;
	}

	.product-feature-img {
		width: 200px;
		height: 230px;
	}

	#banner {
		width: 1000px;
		min-width: none;
	}

	.news-box {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 1024px) {
	.navigation {
		width: 100%;
		justify-content: space-between;
		height: 65px;
		padding: 35px 25px;
	}

	.navigation .menu {
		position: absolute;
		top: 64px;
		left: 0px;
		background-color: var(--primary-color);
		border-bottom: 1px solid #24242410;
		width: 100%;
		margin: 0px;
		padding: 0px;
		z-index: 100;
		display: none;
	}

	.menu-icon {
		display: block;
	}

	.navigation .menu li {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.navigation .menu li a {
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		margin: 0px;
		padding: 25px 20px;
		border: 1px solid rgba(211, 211, 211, 0.08);
	}

	.navigation .menu li a:hover {
		color: var(--primary-color);
		background-color: #e74444;
		transition: all ease 0.2s;
	}

	.nav-icon {
		font-size: 1.2rem;
		cursor: pointer;
	}

	.navigation .menu-btn:checked ~ .menu {
		display: block !important;
	}

	.main-img {
		display: none;
	}

	#main {
		min-height: auto;
		margin-top: 100px;
	}

	.main-text {
		max-width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#categories {
		margin-top: 50px;
	}

	.category-container {
		width: 90%;
	}

	#feature-product h1 {
		margin-bottom: 40px;
	}

	.feature-product-container {
		width: 90%;
		display: grid;
		margin: auto;
		padding: 30px;
		grid-gap: 30px;
		margin-top: 40px;
	}

	.feature-product-box {
		width: 50%;
		margin: 0px;
	}

	.product-feature-img {
		width: 100%;
		height: 120%;
	}

	#banner {
		width: 90%;
	}

	.footer-container {
		flex-direction: column;
	}
}

@media (max-width: 800px) {
	#banner {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		height: auto;
		padding: 20px;
	}

	.banner-text,
	.banner-img {
		height: auto;
		margin: 0px;
		padding: 0px;
	}
}

@media (max-width: 724px) {
	.logo {
		font-size: 1.5rem;
	}

	.main-text h1 {
		font-size: 1.6rem;
		line-height: 35px;
	}

	#categories h2,
	#feature-product h2,
	.banner-text strong,
	#news h3 {
		font-size: 1.5rem;
	}

	.footer-menu {
		display: grid;
	}
}

@media (max-width: 500px) {
	.category-container {
		flex-direction: column;
	}

	.category-box,
	.category-box img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 400px) {
	.footer-container {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.footer-logo-container {
		display: flex;
		text-align: start;
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.footer-logo {
		display: flex;
		text-align: start;
	}
}
